* {
    font-family: Arial, Helvetica, sans-serif;
}

#finderUI {
    overflow-x: visible;
    overflow-y: visible;
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 100001;
    max-width: fit-content;
}

#header {
    background-color: #3077d0;
    height: 45px;
    display: flex;
    justify-content: space-between;
}

#footer {
    height: 45px;
    display: flex;
}

tbody {
    border: 0px rgba(0, 0, 0, 0);
}

ul {
    display: block;
    margin: 0px;
    list-style-image: unset;
    list-style-type: none;
    padding-left: 8px;
    margin-left: 0px;
    margin-bottom: 0px;
}

button {
    outline: none;
}

.row {
    display: -webkit-box;
}

#body {
    display: flex;
    padding: 3px 0px;
    background-color: white;
    overflow-y: hidden;
    overflow-x: hidden;
}

#finder_table {
    background-color: white;
    border-bottom: #3077d0;
    padding: 0px 3px;
    height: 248px;
    overflow-x: auto;
    overflow-y: auto;
}

#body_middle_side {
    border-left: 1px solid #3077d0;
    padding: 0 5px;
    max-width: 250px;
    box-sizing: border-box;
}

#body_middle_side .row {
    width: 250px;
    max-width: 250px;
    overflow-x: visible;
}

#close_row {
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 1px;
    width: 100%;
    float: center;
    background-color: #3077d0;
    padding: 1px;
}

#close_x {
    color: white;
    float: right;
    vertical-align: top;
    padding-right: 5px;
}

#location_path {
    margin-bottom: 10px;
}

#icon img {
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    padding-top: 1px;
}

#investigated_tag {
    margin-bottom: 5px;
    padding: 0;
    text-align: center;
    max-width: 217px;
}

#investigated_title {
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
}

#investigated_element {
    font-size: 16px;
    border: 1px solid #3077d0;
    border-radius: 6px;
    background-color: rgba(48, 119, 208, 0.1);
    width: 200px;
    max-height: 250px;
    text-align: left;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}

#investigated_element ul {
    padding-left: 7px;
}

#investigated_element li.last {
    font-size: inherit;
    margin-top: 0px;
    line-height: 10px;
}

.modal-dialog {
    position: relative;
    top: 20%;
    left: 55%;
}

.modal-content {
    width: 555px;
    background-color: #3077d0;
    padding: 5px 5px 0 5px;
    border-radius: 8px;
    box-shadow: 0px 0px 40px rgb(48 119 208);
    box-sizing: border-box;
}

.close,
.close:hover,
.close:focus {
    font-size: 25px;
    font-weight: bold;
    border: 0px;
    background: transparent;
    cursor: pointer;
    opacity: 0.2;
    padding: 0;
}

#selector_title {
    margin-top: 7px;
}

#selector {
    margin-bottom: 10px;
    word-wrap: normal;
}

#recreate_bottom {
    width: 30px;
    height: 35px;
    padding-top: 5px;
}

#copy_to_clipboard {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.copy_btn {
    font-size: 11px;
    cursor: pointer;
    white-space: nowrap;
    background-color: white;
    text-transform: uppercase;
    border: 1px solid #555;
    border-radius: 5px;
    color: #3077d0;
    height: 27px;
    width: fit-content;
}

.innertext_btn {
    font-size: 12px;
    cursor: pointer;
    background-color: white;
    text-transform: uppercase;
    border: 1px solid #555;
    border-radius: 5px;
    color: #3077d0;
    padding: 0px 2px;
    height: 22px;
    outline: 0;
}

.innertext_btn:hover,
.innertext_btn:focus {
    box-shadow: 0px 0px 10px white;
    cursor: pointer;
}

.innertext_btn:active {
    box-shadow: 0px 0px 10px white;
    background-color: #d3d3d3;
}

#find_button {
    text-align: left;
}

#check_button {
    padding-left: 0px;
}

.copy_btn:hover,
.copy_btn:focus {
    box-shadow: 0px 0px 10px white;
    cursor: pointer;
}

.copy_btn:active {
    box-shadow: 0px 0px 10px white;
    background-color: #d3d3d3;
}

.tiny_side {
    max-width: 30px;
    width: 27px;
    padding: 0px;
    border-radius: 50px;
}

.modal-backdrop {
    background-color: rgba(255, 255, 255, 1);
    /* z-index: 100000; */
}

#test {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#test_table tr {
    text-align: center;
    width: 100%;
    border: none;
}

#test_table td {
    padding-right: 6px;
}

#test_input {
    vertical-align: middle;
    text-align: center;
    position: relative;
    width: 250px;
    min-height: 22px;
    padding-right: 0px;
}

#test_selector {
    width: 250px;
    background-color: rgb(235, 241, 250);
    font-size: 12px;
    height: 25px;
    /* box-sizing: border-box; */
    padding: 0.5rem;
    border-radius: 5px;
    border-width: 1px;
    border-color: white;
}

#test_selector:focus,
input:focus {
    outline: none;
    background-color: rgb(254, 254, 254);
}

.test_passed {
    color: green;
}

.test_not_passed {
    color: red;
}

#navigator_console {
    position: relative;
    width: 100%;
    top: -34px;
}

#navigator_container {
    padding-top: 5px;
    background-color: #3077d0;
    border-radius: 100%;
    height: 70px;
    width: 80px;
    margin: auto;
}

#navigator_container table {
    margin: auto;
    position: relative;
    border-spacing: 0px;
}

#navigator_container table tr {
    height: 23px;
}

#navigator_container table td {
    width: 23px;
    padding: 0px;
}

#navigator_container arrow {
    font-size: 18px;
    color: white;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    padding: 0px;
}

#navigator_container circlec {
    color: white;
    font-weight: bold;
    line-height: 1;
}

circlec:hover,
circlec:focus {
    text-shadow: -1px 1px 6px #ffc, 1px -1px 6px #fff;
}

.nav_button {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    text-align: center;
    /* width: 5px; */
    cursor: pointer;
    /*border-bottom: gray solid 2px;
  border-right: white solid 2px;*/
}

#nav_reset {
    border-radius: 3px;
    background-color: #3077d0;
    border-radius: 5px;
    text-align: center;
    width: 5px;
    cursor: pointer;
    padding-bottom: 3px;
}

.nav_button.positive_node:hover {
    background-color: rgba(0, 255, 0, 0.6);
    border-radius: 3px;
    text-align: center;
    box-shadow: inset 0px 0px 0px 1px white;
}

.nav_button.negative_node:hover {
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 3px;
    text-align: center;
    box-shadow: inset 0px 0px 0px 1px white;
}

.nav_border {
    box-shadow: inset 0px 0px 0px 1px white;
}

.positive_node {
    background-color: rgba(50, 205, 50, 0.4);
}

.negative_node {
    background-color: rgba(255, 0, 0, 0.4);
}

::-webkit-input-placeholder {
    font-style: italic;
}

:-moz-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}
