#finderUIWrapper {
    z-index: 100000000;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    border: 0;
}

.hova_recreate_border,
.hova_recreate_color {
    box-shadow: inset 0px 0px 0px 3px #3077d0;
    animation: pulse 0.7s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #3077d0;
    }
    100% {
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
}
